@font-face {
    font-family: "Epilogue";
    src: url("/font/static/Epilogue-Medium.ttf");
    font-weight: normal;
}
@font-face {
    font-family: "Epilogue";
    src: url("/font/static/Epilogue-Bold.ttf");
    font-weight: bold;
}
body {
    font-family: "Epilogue", "sans-serif";
    background-color: var(--Almost-White);
}
:root {
    --Almost-White: hsl(0, 0%, 98%);
    --Medium-Gray: hsl(0, 0%, 41%);
    --Almost-Black: hsl(0, 0%, 8%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--Medium-Gray);
}
img {
    display: block;
    max-width: 100%;
}
/* ########################## */
img.scale {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: opacity(50%);
}
/* ########################## */
nav {
    display: flex;
    align-items: center;
    padding: 23px 38px;
    margin: auto;
}
.nav__overlay {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #00000081;
    top: 0;
    left: 0;
    z-index: 99;
    display: none;
}
.nav__logo {
    font-size: 37px;
    font-weight: bold;
}
nav .nav__papa {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
}
.nav__links {
    display: flex;
    padding-left: 65px;
    font-size: 15px;
    gap: 42px;
}
.nav__links li {
    position: relative;
}
.nav__links li a:hover {
    color: var(--Almost-Black);
}
.nav__links li > img {
    display: inline-block;
    padding-left: 6px;
}
.nav__form {
    display: flex;
    gap: 16px;
}
.nav__form button {
    padding: 10px 24px;
    border-radius: 12px;
    font-size: 15px;
    font-weight: bold;
    background-color: transparent;
    border: 0;
    border: 3px solid var(--Medium-Gray);
    color: var(--Medium-Gray);
}
.nav__form--login {
    border: none !important;
}
.nav__form button:hover {
    cursor: pointer;
    color: var(--Almost-Black);
    border-color: var(--Almost-Black);
}
.nav__links--slide {
    position: absolute;
    top: 35px;
    left: -78px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 26px 24px;
    padding-left: 21px;
    font-weight: 700;
    gap: 18px;
    border-radius: 10px;
    transition: .3s;
    opacity: 0;
}
.nav__links--slide-s {
    width: 120px;
    left: -2px;
    padding: 27px 0;
    padding-left: 24px;
}
.nav__links--slide.active {
    opacity: 1;
}
.nav__links--slide li {
    display: flex;
    align-items: center;
    gap: 15px;
}
.nav__open,
.nav__close {
    display: none;
}
.content {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
}

.content__text {
    flex-basis: 46%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 3vw;
    padding-left: 15px;
}
.content__text h1 {
    font-size: 5.5vw;
    font-weight: bold;
    letter-spacing: -2px;
}
.content__text p {
    color: var(--Medium-Gray);
    font-size: 1.3vw;
    line-height: 1.5;
    font-weight: 800;
}
.content__text button {
    width: fit-content;
    padding: 20px 30px;
    font-size: 1.3vw;
    border-radius: 15px;
    font-weight: bold;
    background-color: var(--Almost-Black);
    color: var(--Almost-White);
    border: 1px solid var(--Almost-Black);
}
.content__text button:hover {
    cursor: pointer;
    background-color: var(--Almost-White);
    color: var(--Almost-Black);
}
.content__img  {
    flex-basis: 40%;
}
.content__img img.mo {
    display: none;
}
.logo {
    width: 80%;
    margin: auto;
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6vw;
    flex-wrap: wrap;
}


/* media */

@media screen and (max-width: 900px) {
    nav {
        justify-content: space-between;
        padding: 15px 20px;
    }
    nav .nav__papa {
        position: absolute;
        width: 250px;
        height: 100%;
        top: 0;
        right: 0;
        background-color: var(--Almost-White);
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 90px;
        align-items: flex-start;
        z-index: 100;
    }
    nav .nav__papa {
        right: 100%;
        display: none;
    }
    nav .nav__papa.active {
        right: 0;
        display: flex;
    }
    .nav__links,
    .nav__form {
        flex-direction: column;
    }
    .nav__papa > img {
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .nav__links {
        padding-left: 20px;
        font-size: 20px;
        gap: 25px;
    }
    .nav__links--slide {
        position: relative;
        background-color: transparent;
        top: 0;
        left: 0;
        padding: 30px 30px 10px;
        gap: 25px;
        width: 200px;
        display: none;
    }
    .nav__links--slide.active {
        display: flex;
    }
    .nav__form {
        width: 200px;
        margin: 0 auto;
        gap: 0;
    }
    .nav__open,
    .nav__close {
        display: block;
    } 
    /* /////////////////////////////////// */
    .content {
        width: 100%;
        flex-direction: column-reverse;
        margin: auto;
        padding-top: 0;
    }
    .content__img img.de {
        display: none;
    }
    .content__img img.mo {
        display: block;
        width: 100%;
    }
    .content__img {
        width: 100%;
        transform: translateY(0);
    }
    .content__text {
        padding-top: 30px;
        width: 90%;
        margin: auto;
        padding-left: 0;
        text-align: center;
        align-items: center;
        gap: 30px;
    }
    .content__text h1 {
        font-size: 8vw;
    }
    .content__text p {
        font-size: 4vw;
    }
    .content__text button {
        font-size: 4vw;
    }

    .logo {
        gap: 3vw;
        padding-top: 20px;
    }
    .content__text .logo img {
        width: 70px;
    }
}
@media (max-width: 1300px) {
    .content__img  {
        width: 100%;
        padding: 50px;
    }
    .logo {
        padding: 30px 0;
    }
}